* {
  Margin: 0;
  padding: 0;
  border: 0;

}


/* relevant styles */
.img__wrap {
  position: relative;
  height: 200px;
  width: 257px;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

header {
  background-color: white;


}


.white-box {
  background-color: #aaa9ad;
  color: black;
  width: 170;
  height: 310px;
  margin-right: 100px;
  margin-left:100px
}

Body {

  background-image: url("https://previews.123rf.com/images/deberarr/deberarr1301/deberarr130100020/17432852-old-wood-tree-texture-background-pattern.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color: black;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;

}

/* #name { background-color:turquoise ;
    margin-left:40px ;
    padding: 30px;
     color: white;
     position:absolute;
     left:0;
     top:0;
 } */

.container {
  width: 1000px;

}

#nav {
  background-image: url("https://fbcd.co/product-lg/be1244960eedaa7849ffbc9b7fba7621_resize.jpg");
  background-repeat: no-repeat;
  text-decoration: solid;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

.box-1 {
  
  background-color: white;
  border: 2px #4b4c5c;
  background-image: url("https://images.unsplash.com/photo-1498612753354-772a30629934?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-repeat: no-repeat;
  text-decoration: solid;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;

  border-style: groove;
  border-radius: 25px;
  padding-left: 20px;
  margin-bottom: 100px;
}

img.ri {
  position: relative;
  max-width: 80%;
  top: 10%;
  left: 10%;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.9);
}

.my-form {
  padding: 20px;
  padding-bottom: 30px;
}

.my-form label {
  display: block;
}

.my-form input[type="text"] {
  padding: 8px;
  width: 80%;
}

.bar {
  float: right;
  background-color: white;
}

footer {
  background-color: grey;
  color: white;
  text-align: center;
  border-top: turquoise;
  border-style: solid;

}


.card-title{
color: green;
}

.card-text{
  color: black;
}
* {
  box-sizing: border-box;
}

.columnn {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

p{
  color: black;
}


@media screen and (max-width: 640px) {
  body {
    background-color: #333;
  }

  .wrapper {
    width: 100%;
    padding: 20px;
  }

  #main-content,
  #sidebar {
    width: 100%;
  }

  #sidebar {
    margin-top: 40px;
  }
}
